<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="RavenDBUrl" value="http://localhost:8080" />
    <add key="RavenDBDatabase" value="EdiEnergyTest" />

    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:using:ColoredConsole" value="Serilog.Sinks.ColoredConsole" />
    <add key="serilog:write-to:ColoredConsole" />

    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.fileSizeLimitBytes" value="100000000" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="logs/EdiExtractorLog-{Date}.txt" />
  </appSettings>
</configuration>
