<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="console" xsi:type="ColoredConsole" />
    <target name="logfile" xsi:type="File" fileName="log.txt" keepFileOpen="false" />
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- RavendDB also uses NLog so we need to filter it out here -->
    <logger name="Raven*" minlevel="Warn" writeTo="console" />
    <logger name="Fabsenet*" minlevel="Trace" writeTo="console" />
    
    <logger name="Raven*" minlevel="Debug" writeTo="logfile" />
    <logger name="Fabsenet*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>